<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- ===== CSS ===== -->
        <link rel="stylesheet" href="../assets/css/login.css">
        <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js"></script>
        <script src="../assets/db/database.js"></script>
        <!-- ===== BOX ICONS ===== -->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <link rel="stylesheet" href="../assets/css/estilos.css" media="screen">
       
        <script class="u-script" type="text/javascript" src="../assets/js/jquery.js" defer=""></script>
        <script class="u-script" type="text/javascript" src="../assets/js/estilos.js" defer=""></script>
        <title>Ingreso</title>
    </head>
    <body>
          <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1" role="navigation" aria-label="Menu navigation">
          <div class="menu-collapse">
            <a class="u-button-style u-hamburger-link u-nav-link" href="#" tabindex="-1" aria-label="Open menu" aria-controls="0dd2">
              <svg class="u-svg-link" viewBox="0 0 24 24"><use xlink:href="#menu-hamburger"></use></svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</g></svg>
            </a>
          </div>
          <div class="u-nav-container">
            <ul role="menubar" class="u-nav u-unstyled u-nav-1"><li role="none" class="u-nav-item"><a role="menuitem" class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="../index.html" style="padding: 10px 20px;">Inicio</a>
</li><li role="none" class="u-nav-item"><a role="menuitem" class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="./Tareas.html" style="padding: 10px 20px;">Tareas</a>
</li><li role="none" class="u-nav-item"><a role="menuitem" class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="./login.html" style="padding: 10px 20px;">Ingresar</a>
</li></ul>
          </div>
          <div class="u-nav-container-collapse" id="0dd2" role="region" aria-label="Menu panel">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close" tabindex="-1" aria-label="Close menu"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="../index.html">Inicio</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="./Tareas.html">Tareas</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="./Ingresar.html">Ingresar</a>
</li></ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav> 
      </div>
        <div class="login">
            <div class="login__content">
                <div class="login__img">
                    <img src="../assets/img/img-login.svg" alt="">
                </div>

                <div class="login__forms">
                    <form action="" class="login__registre" id="login-in">
                        <h1 class="login__title">Ingresa!</h1>
    
                        <div class="login__box">
                            <i class='bx bx-user login__icon'></i>
                            <input type="text" placeholder="Email" class="login__input">
                        </div>
    
                        <div class="login__box">
                            <i class='bx bx-lock-alt login__icon'></i>
                        <input type="password" placeholder="Contraseña" class="login__input" autocomplete="current-password">
                        </div>

                       <a href="#" class="login__forgot" style="margin-left: 9px">olvidaste tu contraseña?</a>

                       <a href="#" id="btn-login" class="login__button">Ingresa</a>


                        

                        <div>
                            <span class="login__account">¿No tienes una cuenta ?</span>
                            <span class="login__signin" id="sign-up">Regístrate</span>
                        </div>
                    </form>

                    <form action="" class="login__create none" id="login-up">
                        <h1 class="login__title">Crear cuenta</h1>
    
                 
                        <div class="login__box">
                            <i class='bx bx-at login__icon'></i>
                            <input type="text" placeholder="Email" class="login__input">
                        </div>

                        <div class="login__box">
                            <i class='bx bx-lock-alt login__icon'></i>
                            <input type="password" placeholder="Contraseña" class="login__input">
                        </div>

                     <a href="#" id="btn-registrarse" class="login__button">Regístrate</a>


                        <div>
                            <span class="login__account">¿Ya tienes una cuenta ?</span>
                            <span class="login__signup" id="sign-in">Ingresa</span>
                        </div>

                        <div class="login__social">
                            <a href="#" class="login__social-icon"><i class='bx bxl-github' ></i></a>
                            <a href="#" class="login__social-icon"><i class='bx bxl-google' ></i></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
            <footer class="u-align-center u-clearfix u-container-align-center u-footer u-footer" id="footer"><div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1"> © 2025.&nbsp;<a href="https://juanbetancur.netlify.app/" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-1">Dev JB</a>
        </p>
      </div></footer>
        <!--===== MAIN JS =====-->
        <script src="../assets/js/principal.js"></script>
        <style>
</style>
    </body>
</html>