<!DOCTYPE html>
<html style="font-size: 16px;" lang="es"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Aplicaciones potentes para el crecimiento, Soluciones innovadoras para el desarrollo de aplicaciones, Diseño de experiencia digital sin fisuras, Desarrollando aplicaciones preparadas para el futuro, Desarrollo de aplicaciones móviles personalizadas, Planes de precios flexibles, Empiece hoy mismo.Obtenga más por su dinero.">
    <meta name="description" content="">
    <title>Tareas</title>

    <link rel="stylesheet" href="../assets/css/estilos.css" media="screen">
    <link rel="stylesheet" href="../assets/css/Tareas.css" media="screen">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js"></script>
    <script src="../assets/db/database.js"></script>
    <script class="u-script" type="text/javascript" src="../assets/js/jquery.js" defer=""></script>
        <script class="u-script" type="text/javascript" src="../assets/js/global.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="../assets/js/estilos.js" defer=""></script>

    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": ""
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Tareas">
    <meta property="og:type" content="website">
  <meta data-intl-tel-input-cdn-path="intlTelInput/"></head>
  <body data-path-to-root="./" data-include-products="false" class="u-body u-overlap u-overlap-contrast u-overlap-transparent u-xl-mode" data-lang="es"><header class="u-clearfix u-header u-header" id="header"><div class="u-clearfix u-sheet u-sheet-1">
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1" role="navigation" aria-label="Menu navigation">
          <div class="menu-collapse">
            <a class="u-button-style u-hamburger-link u-nav-link" href="#" tabindex="-1" aria-label="Open menu" aria-controls="0dd2">
              <svg class="u-svg-link" viewBox="0 0 24 24"><use xlink:href="#menu-hamburger"></use></svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</g></svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul role="menubar" class="u-nav u-unstyled u-nav-1"><li role="none" class="u-nav-item"><a role="menuitem" class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="../index.html" style="padding: 10px 20px;">Inicio</a>
</li><li role="none" class="u-nav-item"><a role="menuitem" class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="../views/Tareas.html" style="padding: 10px 20px;">Tareas</a>
  </li><li role="none" class="u-nav-item"><a role="menuitem" class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="../views/bienvenido.html" style="padding: 10px 20px;">Calendario</a>
</li><li role="none" class="u-nav-item"><a role="menuitem" class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="../views/login.html" style="padding: 10px 20px;">Ingresar</a>
</li></ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse" id="0dd2" role="region" aria-label="Menu panel">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close" tabindex="-1" aria-label="Close menu"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2" role="menubar"><li role="none" class="u-nav-item"><a role="menuitem" class="u-button-style u-nav-link" href="./">Inicio</a>
</li><li role="none" class="u-nav-item"><a role="menuitem" class="u-button-style u-nav-link" href="../views/Tareas.html">Tareas</a>
  </li><li role="none" class="u-nav-item"><a role="menuitem" class="u-button-style u-nav-link" href="../views/bienvenido.html">Calendario</a>
</li><li role="none" class="u-nav-item"><a role="menuitem" class="u-button-style u-nav-link" href="../views/login.html">Ingresar</a>
</li></ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav><span id="btn-logout" class="u-file-icon u-icon u-icon-rectangle u-icon-1" style="cursor:pointer;">
  <img src="../assets/img/cerrar-sesion-8d5a0fa7.png" alt="Cerrar sesión" />
</span>

      </div></header>
    <section class="skrollable u-clearfix u-image u-shading u-section-1" id="sec-cc41">
      <div class="u-clearfix u-sheet u-valign-bottom-md u-valign-middle-lg u-valign-middle-xl u-sheet-1">
        <div class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-size-26-lg u-size-26-xl u-size-38-md u-size-38-sm u-size-38-xs u-layout-cell-1">
                <div class="u-container-layout u-container-layout-1">
                  <p class="u-align-left u-text u-text-default u-text-1"><span class="u-file-icon u-icon"><img src="../assets/img/1008917.png" alt=""></span> &nbsp; ¡Bienvenido!
                  </p>
                  <h1 class="u-align-left u-custom-font u-text u-text-default-lg u-text-default-xl u-text-font u-text-2"> Calendario para gestionar tus tareas</h1>
                  <p class="u-align-left u-text u-text-3"> Ideal para gestionar actividades personales, académicas o laborales con total control visual.</p>
                  <a href="./views/bienvenido.html" class="u-align-left u-border-none u-btn u-btn-round u-button-style u-custom-color-1 u-radius u-btn-1">Empezar</a>
                </div>
              </div>
              <div class="u-container-style u-layout-cell u-size-1-md u-size-1-sm u-size-1-xs u-size-17-lg u-size-17-xl u-layout-cell-2">
                <div class="u-container-layout u-valign-middle-xs u-container-layout-2">
                  <img class="custom-expanded u-image u-image-contain u-image-default u-image-1" src="../assets/img/Capturadepantalla2025-07-11111359-portrait.png" alt="" data-image-width="1450" data-image-height="2936" >
                </div>
              </div>
              <div class="u-container-style u-layout-cell u-size-17-lg u-size-17-xl u-size-21-md u-size-21-sm u-size-21-xs u-layout-cell-3">
                <div class="u-container-layout u-container-layout-3">
                 
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-container-align-center u-section-2" id="sec-4a27" data-image-width="1620" data-image-height="1080">
      <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-xs u-sheet-1">
        <h2 class="u-text u-text-default u-text-1">Tecnologías</h2>
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-container-align-center-sm u-container-align-center-xs u-container-style u-list-item u-repeater-item u-shape-rectangle">
              <div class="u-container-layout u-similar-container u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-1">
                <img alt="" class="custom-expanded u-image u-image-contain u-image-default u-image-1" data-image-width="512" data-image-height="512" src="../assets/img/html-5.png">
              </div>
            </div>
            <div class="u-container-align-center-sm u-container-align-center-xs u-container-style u-list-item u-repeater-item u-shape-rectangle">
              <div class="u-container-layout u-similar-container u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-2">
                <img alt="" class="custom-expanded u-image u-image-contain u-image-default u-image-2" data-image-width="512" data-image-height="512" src="../assets/img/css-3.png">
              </div>
            </div>
            <div class="u-container-align-center-sm u-container-align-center-xs u-container-style u-list-item u-repeater-item u-shape-rectangle">
              <div class="u-container-layout u-similar-container u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-3">
                <img alt="" class="custom-expanded u-image u-image-contain u-image-default u-image-3" data-image-width="48" data-image-height="48" src="../assets/img/icons8-js-48.png">
              </div>
            </div>
            <div class="u-container-align-center-sm u-container-align-center-xs u-container-style u-list-item u-repeater-item u-shape-rectangle">
              <div class="u-container-layout u-similar-container u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-4">
                <img alt="" class="custom-expanded u-image u-image-contain u-image-default u-image-4" data-image-width="5000" data-image-height="964" src="../assets/img/Supabase_Logo.png">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-palette-2-light-3 u-section-3" id="sec-5ac5">
        <h2 class="u-align-center u-text u-text-default u-text-1">Tus pendientes</h2>
        <div class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
                 <div class="u-repeater u-repeater-1"  id="repeater-eventos"></div>
     
    </section>

    <style>

 
  
</style>

    <footer class="u-align-center u-clearfix u-container-align-center u-footer u-footer" id="footer"><div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1"> © 2025.&nbsp;<a href="https://juanbetancur.netlify.app/" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-1">Dev JB</a>
        </p>
      </div></footer>
  
</body></html>